<hr>

<div class="divFlexRow">
	<label for="gpio-default">Use built-in LED:</label>
	<input type="checkbox" name="gpio-default" id="gpio-default">
	<span id="gpio-label">or select GPIO:</span>
	<select class="gpio-selector" name="gpio"></select>
</div>

<script src="js/deployTargetGpios.js"></script>
<script src="js/download-gpio.js"></script>
<script src="js/download-device.js"></script>
