			<div class="panel divFlexCol" id="circuit">
				<img src="images/LED-off.png" id="led-img">
				<span class="gpio" id="gpio">D2</span>
				<button class="btn" id="led-btn">Turn On LED</button>
			</div>
