<p>If using built-in LED:</p>
<ul>
	<li>1x <a target="_blank" href="https://wiki.seeedstudio.com/Wio-Terminal-Getting-Started/">Seeed Studio Wio Terminal</a></li>
</ul>
<p>If using external LED:</p>
<ul>
	<li>1x <a target="_blank" href="https://wiki.seeedstudio.com/Wio-Terminal-Getting-Started/">Seeed Studio Wio Terminal</a></li>
	<li>1x LED</li>
	<li>1x 680&ohm; resistor</li>
</ul>
