<p>If using the built-in LED, all that's needed is power</p>

<p>If using an external LED, wire the LED and resistor as shown in the circuit diagram.  GPIO pin <span class="gpio">D0</span> is used in the diagram, as an example, and is wired to the LED.</p>
